torch --index-url https://download.pytorch.org/whl/cu128
torchvision
huggingface_hub
git+https://github.com/huggingface/diffusers.git
kernels
smolagents[transformers]
transformers
accelerate
gradio
gradio_client
duckduckgo-search
pdfplumber
docx2txt
odfpy
ddgs
pandas
requests
httpx
pillow
openpyxl
xlrd
spacy==3.8.7
sentencepiece
safetensors
git+https://github.com/facebookresearch/audiocraft@v1.3.0
